/*----------------home-----------------------------HOME------------------------------home----------------------*/

/*----------------SE-ABRE-1ER-SECTION---------*/
.portada{ /* IMAGEN PORTADA */
    background-image: url("../imagenes/home-portada.jpg");
    height: 87vh;
    width: $all;
    background-position: center;
    display: grid;
    place-items: center;
    justify-content: center;
    &__texto{
        text-align: center;
        color: white;
    }
    &__btn{
        border-radius: 12px;
        margin-left: 58px;
    }
    &__btn:hover{
        background-color: grey;
    }
    
    
}


/*--------------SE CIERRA LA 1ER SECTION-------*/

/*------------SE ABRE 2DA SECTION-----------*/
body{
    background-color: $colorbg;
}

.prendas{
    background-color: $colorbg;
    &__padre{
        display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    text-align: center;
    }
    &__imagenes{
        width: $all;
    }
    &__boton{
        position: relative;
        bottom: $ancho;
    }
    &__boton:hover{
        background-color: $colorbg;
        border-color: $colorbg;
    }
}

.formulario2{
    background-color: $colorbg;
    &__boton{
        position: relative;
        left: 48%;
        margin-bottom: $ancho;
        border-radius: 12px;
    } 
    &__boton:hover{
        background-color: black;
    }
    &__boton a{
        color: $colorbg;
    }
    &__boton a:hover{
        color: white;
    }
    &__control{ /*BARRITA DONDE VA EL MAIL*/
        width: $all/2;
        margin-left: 25%;
        background-color: $colorbg;
        padding: 5px;
    }
}

/*--------------SE CIERRA 2DA SECTION----------*/