/*------------nosotros------------------------------SE ABRE NOSOTROS-------------------------nosotros------------*/

.nosotros{
    color: grey;
}

.img-nosotros{
    display: flex;
    height: 50vh;
    margin: 30px auto;
    padding: 5*4px;
    border-radius: 5px;
    border-color: $colorbg;
    object-fit: cover;
}


/*-----------------------------------------------SE CIERRA NOSOTROS----------------------------------------------*/
