@import url(https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap);

//IMPORT VARIABLES Y CLASES GENERALES

@import "./partials/generales";

//IMPORT ESTILO DE CADA PAGINA

@import "./home";
@import "./shop";
@import "./galeria";
@import "./nosotros";
@import "./contacto";

//HEADER
@import "./header";

//FOOTER
@import "./footer";


//ANIMACION

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header__position, .portada, #portfolio, .img-nosotros, .portada-shop{
    animation-name: aparecer;
    animation-duration: 3s;
}


/*-----------------------------------------------MEDIA-QUERIES--------------ALL-DISPOSITIVOS-----------------*/

@media only screen 
    and (max-device-width : 768px){


    /*-------------------------MEDIA-QUERIES-768-HEADER-----------------*/

    .envios{
        font-size: 15px;
    }

    .header__logo{ 
        font-size: 40px;
        position: relative;
        bottom: 2px;
    }
  
    .portada__btn{
        position: relative;
        right: 15px; 
    }

    .prendas__boton{
        font-size: 15px;
        
    }

    .formulario2__boton{
        position: relative;
        left: 45.4%;
        margin-bottom: $ancho;
        border-radius: 12px;
    }

    .header__burguermenu{ /*SACAR BORDES AL MENU BURGUER*/
        position: relative;
        left: -90%;
        bottom: 4.5px;
    }
    
    .header__search{
        position: absolute;
        bottom: 88.5%;
        left: 87%;
        color: honeydew;
    }
    .header__cart{
        position: absolute;
        bottom: 88.5%;
        left: 94%;
        color: honeydew;
    }

    .navbar-brand{
        position: relative;
    }

    .header__nav{ /*ESPACIO ENTRE CADA UNO DE LOS ITEMS DEL NAV*/
        padding-left: 40px;
        position: relative;
        right: 0px;
        left: 75px;
    }

    /*-------------------------SE-CIERRA-HEADER-------------------------*/

    .formulario2__boton{
        position: relative;
    }

    /*-------------------------MEDIA-QUERIES-768-FOOTER-----------------*/

  
    .footer__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
  
    .footer__menu{
      display: flex;
      flex-direction: column;
    }
  
    /*-------------------------SE-CIERRA-FOOTER---------768----------------*/
  

    /*----------------------SECCION-NOSOTROS----------768---------------*/
    .img-nosotros{
        display: flex;
        height: 40vh;
        width: 100%;
        margin: 30px auto;
        padding: 5*4px;
        border-radius: 5px;
        border-color: #e2e2e2;
    }

    /*------------------CIERRA--SECCION-NOSOTROS----------768-----------------*/

    /*----------------------SECCION-CONTACTO----------768---------------*/

    .formulario__boton{
        position: relative;
        left: 42%;
        margin-bottom: $ancho;
        border-radius: 12px;
    }

    /*------------------CIERRA--SECCION-CONTACTO----------768-----------------*/

    /*---------------------------------SECCION-SHOP------768-----------------------*/

    .carousel-item img{
        object-fit: cover;
        height: auto;
        width: auto;
    }
    
    .prendas__hijo button{
        position: relative;
        bottom: 10px;
  }

    /*--------------------------MEDIA QUERIES SECCIÓN GALERÍA---768---------------*/

    #portfolio{
        margin: 15px 15px;
    }

    .galeria{
        &__autor{ 
            color: grey;
            text-align: center;
        }
    
        &__imagenes{
            display: grid;
        grid-template-columns: 450px;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        }
    }

    #portfolio2{
        margin: 15px 15px;
    }

    .galeria2{
        &__autor2{
            color: grey;
            text-align: center;
        }
    
        &__imagenes2{
            display: grid;
        grid-template-columns: 450px;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        }
    }

    }

    /*------------------SE CIERRA GALERIA MEDIA QUERIES-------------------*/

    @media only screen and (max-device-width: 1024px) and (min-device-width: 769px){
    /*-----------------HEADER-MEDIA-QUERIES-----1024----------------------*/

        .header{
            &__logo{ 
                font-size: 44px;
                position: relative;
            }
            &__nav{ /*ESPACIO ENTRE CADA UNO DE LOS ITEMS DEL NAV*/
                padding-left: 5px;
                position: relative;
                right: 95%;
            }
            &__burguermenu{ /*SACAR BORDES AL MENU BURGUER*/
                position: relative;
                left: -90%;
                bottom: 4.5px;
            }
            &__search{
                position: absolute;
                bottom: 88%;
                left: 92%;
                color: honeydew;
            }
            &__cart{
                position: absolute;
                bottom: 88%;
                left: 95%;
                color: honeydew;
            }
        }

        .navbar-brand{
        position: relative;
        
        }
    
    /*---------------------SE-CIERRA-HEADER-MEDIA-QUERIES--------1024------*/


    #portfolio{
        margin: 15px 15px;
    }

    .galeria{
        &__autor{ 
            color: grey;
            text-align: center;
        }
    
        &__imagenes{
            display: grid;
            grid-template-columns: 300px, 300px, 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
        }
    }

    #portfolio2{
        margin: 15px 15px;
    }

    .galeria2{
        &__autor2{
            color: grey;
            text-align: center;
        }
    
        &__imagenes2{
            display: grid;
        grid-template-columns: 300px, 300px, 300px;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        }
    }


        .portada__btn{
            position: relative;
            right: 9.5px; 
        }

        .img-nosotros{
            display: flex;
            height: 40vh;
            width: 50%;
            margin: 30px auto;
            padding: 5*4px;
            border-radius: 5px;
            border-color: #e2e2e2;
        }

        .formulario__boton{
            position: relative;
            left: 46%;
            margin-bottom: $ancho;
            border-radius: 12px;
        }

        .formulario2__boton{
            position: relative;
            left: 47%;
        }

    }

    @media only screen 
    and (max-device-width : 320px){

        /*-----------------------HEADER----MEDIA-QUERIES---320---------------*/
        .envios{
            font-size: 12px;
        }

        .header{
            &__logo{
                font-size: 30px;
                position: relative;
            }
            &__search{
                position: absolute;
                bottom: 90.1%;
                left: 85.5%;
            }
            &__cart{
                position: absolute;
                bottom: 90.1%;
                left: 92.5%;
            }
            &__text{
                font-size: 16px;
            }
            &__nav{ /*ESPACIO ENTRE CADA UNO DE LOS ITEMS DEL NAV*/
                padding-left: 40px;
                position: relative;
                right: 10px;
                left: 0px;
            }
        }

        /*---------------SE-CIERRA-HEADER----------320---------------------*/

        /*---------------HOME-----MEDIA-QUERIES-------320------------------*/

        .portada{
            background-image: url(../imagenes/portfolio/portfolio3.jpg);
            height: 50vh;
        }

        .portada__texto{
            color: $colorbg;
            background-color: black;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 12px;
        }

        .portada__btn{
            position: relative;
            right: 23px; 
        }

        .prendas{
            background-color: $colorbg;
            &__padre{
                display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            text-align: center;
            }
            &__imagenes{
                width: $all;
            }
            &__boton{
                position: relative;
                bottom: $ancho;
            }
            &__boton:hover{
                background-color: $colorbg;
                border-color: $colorbg;
            }
        }

        .formulario2__boton{
            position: relative;
            left: 33%;
        }

        /*-------------SE-CIERRA-HOME---MEDIA-QUERIES-------320------------*/

        /*-----------------------GALERIA----MEDIA-QUERIES---320---------------*/

        #portfolio{
            margin: 15px 15px;
        }
    
        .galeria{
            &__autor{ 
                color: grey;
                text-align: center;
            }
        
            &__imagenes{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
    
        #portfolio2{
            margin: 15px 15px;
        }
    
        .galeria2{
            &__autor2{
                color: grey;
                text-align: center;
            }
        
            &__imagenes2{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
        /*----------------------SE-CIERRA-GALERIA---QUERIES-----320------------*/

        /*---------------CONTACTO-FORMULARIO-----320-----------------------*/
        .contact__text{
            font-size: 16px;
        }

        .formulario__boton{
            position: relative;
            left: 38.6%;
        }
        /*----------------SE-CIERRA-CONTACTO-------------320---------------*/

       
        /*-----------------------NOSOTROS---MEDIA-QUERIES----320-------------*/
        .img-nosotros{
            height: 30vh;
            width: 90%;
        }
        /*---------------------CIERRA-NOSOTROS-QUERIES-------320------------*/
        /*----------------FOOTER-------QUERIES----------320-------------*/
        .footer__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        }
  
        .footer__menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        }
  
        /*-------------------------SE-CIERRA-FOOTER---------320----------------*/
    }

    @media only screen 
    and (max-device-width : 375px) and (min-device-width: 321px){

        /*-----------------------HEADER----MEDIA-QUERIES---375---------------*/
        .envios{
            font-size: 12px;
        }

        .header{
            &__logo{
                font-size: 30px;
                position: relative;
            }
            &__search{
                position: absolute;
                bottom: 90.1%;
                left: 85.5%;
            }
            &__cart{
                position: absolute;
                bottom: 90.1%;
                left: 92.5%;
            }
            &__text{
                font-size: 16px;
            }
            &__nav{ /*ESPACIO ENTRE CADA UNO DE LOS ITEMS DEL NAV*/
                padding-left: 40px;
                position: relative;
                right: 35px;
                left: 0px;
            }
        }

        .portada__texto{
            color: $colorbg;
            background-color: black;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 12px;
        }

        .prendas{
            background-color: $colorbg;
            &__padre{
                display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            text-align: center;
            }
            &__imagenes{
                width: $all;
            }
            &__boton{
                position: relative;
                bottom: $ancho;
            }
            &__boton:hover{
                background-color: $colorbg;
                border-color: $colorbg;
            }
        }

        /*---------------SE-CIERRA-HEADER----------375---------------------*/

        /*---------------CONTACTO-FORMULARIO-----375-----------------------*/
        .contact__text{
            font-size: 16px;
        }

        .formulario__boton{
            position: relative;
            left: 40.5%;
        }
        /*----------------SE-CIERRA-CONTACTO-------------375---------------*/
        /*----------------FOOTER-------QUERIES----------375-------------*/
        .footer__icons{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            }
      
            .footer__menu{
            display: flex;
            flex-direction: column;
            text-align: center;
            }
      
            /*-------------------------SE-CIERRA-FOOTER---------375----------------*/

        
        /*-----------------------GALERIA----MEDIA-QUERIES---375---------------*/

        #portfolio{
            margin: 15px 15px;
        }
    
        .galeria{
            &__autor{ 
                color: grey;
                text-align: center;
            }
        
            &__imagenes{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
    
        #portfolio2{
            margin: 15px 15px;
        }
    
        .galeria2{
            &__autor2{
                color: grey;
                text-align: center;
            }
        
            &__imagenes2{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
        /*----------------------SE-CIERRA-GALERIA---QUERIES-----375------------*/
        /*---------------HOME-----MEDIA-QUERIES-------375------------------*/

        .portada{
            background-image: url(../imagenes/portfolio/portfolio3.jpg);
            height: 50vh;
        }

        .portada__btn{
            position: relative;
            right: 23px; 
        }

        .formulario2__boton{
            position: relative;
            left: 37%;
        }

        /*-------------SE-CIERRA-HOME---MEDIA-QUERIES-------375------------*/
    }

    @media only screen 
    and (max-device-width : 425px) and (min-device-width: 376px){

        /*-----------------------HEADER----MEDIA-QUERIES---425---------------*/
        .envios{
            font-size: 12px;
        }

        .header{
            &__logo{
                font-size: 30px;
                position: relative;
            }
            &__search{
                position: absolute;
                bottom: 90.1%;
                left: 85.5%;
            }
            &__cart{
                position: absolute;
                bottom: 90.1%;
                left: 92.5%;
            }
            &__text{
                font-size: 16px;
            }
            &__nav{ /*ESPACIO ENTRE CADA UNO DE LOS ITEMS DEL NAV*/
                padding-left: 40px;
                position: relative;
                right: 30px;
                left: 0px;
            }
        }

        .portada__btn{
            margin-left: 52px;
        }

        .portada__texto{
            color: $colorbg;
            background-color: black;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 12px;
        }

        .portada{
            background-image: url(../imagenes/portfolio/portfolio3.jpg);
            height: 50vh;
        }

        .prendas{
            background-color: $colorbg;
            &__padre{
                display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            text-align: center;
            }
            &__imagenes{
                width: $all;
            }
            &__boton{
                position: relative;
                bottom: $ancho;
            }
            &__boton:hover{
                background-color: $colorbg;
                border-color: $colorbg;
            }
        }
        /*---------------SE-CIERRA-HEADER----------425---------------------*/

        /*-----------------------NOSOTROS---MEDIA-QUERIES----425-------------*/
        .img-nosotros{
            height: 30vh;
            width: 90%;
        }
        /*---------------------CIERRA-NOSOTROS-QUERIES-------425------------*/
        /*-----------------------GALERIA----MEDIA-QUERIES---425---------------*/

        #portfolio{
            margin: 15px 15px;
        }
    
        .galeria{
            &__autor{ 
                color: grey;
                text-align: center;
            }
        
            &__imagenes{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
    
        #portfolio2{
            margin: 15px 15px;
        }
    
        .galeria2{
            &__autor2{
                color: grey;
                text-align: center;
            }
        
            &__imagenes2{
                display: grid;
            grid-template-columns: 300px;
            grid-template-rows: auto;
            justify-content: center;
            align-content: center;
            }
        }
        /*----------------------SE-CIERRA-GALERIA---QUERIES-----425------------*/
        /*----------------FOOTER-------QUERIES----------425-------------*/
        .footer__icons{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            }
      
            .footer__menu{
            display: flex;
            flex-direction: column;
            text-align: center;
            }
      
        /*-------------------------SE-CIERRA-FOOTER---------425----------------*/
        /*-----------------------CONTACTO-QUERIES--------425-------------------*/
        .contact__text{
            font-size: 16px;
        }

        .formulario__boton{
            position: relative;
            left: 41%;
        }
        
        .formulario2__boton{
            position: relative;
            left: 39%;
        }
    }
